*
{
    margin: 0px;
    padding: 0px;
}
.button
{
display: flex;
justify-content: end;
position: absolute;
right: 5%;
top: 1%;
}
.button img
{
width: 30px;
cursor: pointer;
}
.container
{
border: 2px solid black;
width: 500px;
height:400px;
position: absolute;
top: 20%;
left: 35%;
display: flex;
justify-content: center;
align-items: center;
}
p
{
font-size: 1.5rem;
}